.layout {
  display: flex;
  min-height: 100vh;
}


.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;        /* important */
  overflow-y: auto;         /* le scroll se fait ici */
}

.layout-content {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
